<!DOCTYPE html>
<html>
  <head>
    <title>AnotherPin</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
		<header>
			<div class="logo">
				<h1><%= link_to "Another Pin Co.", root_path %></h1>
			</div>
			<div class="nav">
				<p>
					<%= link_to "Shop", products_path %>&nbsp;&nbsp;&nbsp;&nbsp;
					<%= link_to "Info", pages_info_path %>&nbsp;&nbsp;&nbsp;&nbsp;
					<%= link_to cart_path do %>
						Cart <%= @current_cart.id %> (<%= @current_cart.total_quantity %>)
					<% end %>&nbsp;&nbsp;&nbsp;&nbsp;
					<% if user_signed_in? %>
						<%= link_to "Log Out", destroy_user_session_path, data: { "turbo-method": :delete } %>&nbsp;&nbsp;&nbsp;&nbsp;
						<%= link_to "Edit Profile", edit_user_registration_path %>&nbsp;&nbsp;&nbsp;&nbsp;
					<% else %>
						<%= link_to "Sign Up", new_user_registration_path %>&nbsp;&nbsp;&nbsp;&nbsp;
						<%= link_to "Log In", new_user_session_path %>&nbsp;&nbsp;&nbsp;&nbsp;
					<% end %>
					</p>
			</div>
		</header>
		<% if flash[:success].present? %>
			<div class="flash-success"><p><%= flash[:success] %></p></div>
	  <% end %>
		<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
